<ion-view view-title="Hall of Farts">
    <ion-content>
        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-clock"></i>
                The longest ones
            </a>
            
            <a class="item item-icon-left" href="#">
                <i class="icon ion-cloud"></i>
                The most intense ones
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-nuclear"></i>
                The most powerful ones
            </a>
            
            <a class="item item-icon-left" href="#">
                <i class="icon ion-jet"></i>
                The most explosive ones
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ribbon-b"></i>
                The highest quality ones
            </a>

        </div>
    </ion-content>
</ion-view>
