<ion-view view-title="Fear of the Farts">
    <ion-content>
        <div class="list card" ng-repeat="fart in allFarts">

            <div class="item item-avatar">
                <img src="img/unknown.png">
                <h2>Unknown Fartist</h2>
                <p>{{fart.creationDateTime}}</p>
            </div>

            <div class="item item-body">
                <!-- <img class="full-image" src="img/gauss.jpg"> -->
                <canvas id="myChart_{{fart.id}}" class="fartchart"> </canvas>
                
                <div class="row">
                    <div class="col col-66">Family:</div>
                    <div class="col">{{fart.fartomic.fart_type}}</div>
                </div>
                
                <div class="row">
                    <div class="col col-66">Duration:</div>
                    <div class="col">{{fart.fartomic.duration}} s</div>
                </div>

                <div class="row">
                    <div class="col col-66">Fragrance peak:</div>
                    <div class="col">{{fart.fartomic.maximum}} ppm</div>
                </div>
                
                <div class="row">
                    <div class="col col-66">Total emission:</div>
                    <div class="col">{{fart.fartomic.aoc}} kmol</div>
                </div>
                
                <div class="row">
                    <div class="col col-66">Max evacuation speed:</div>
                    <div class="col">{{fart.fartomic.max_speed}} ppm/s</div>
                </div>

                <div class="row">
                    <div class="col col-66">Execution quality:</div>
                    <div class="col">
                    <i class="icon" ng-class="fart.fartomic.quality >= 1 ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i>
                    <i class="icon" ng-class="fart.fartomic.quality >= 2 ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i>
                    <i class="icon" ng-class="fart.fartomic.quality >= 3 ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i>
                    <i class="icon" ng-class="fart.fartomic.quality >= 4 ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i>
                    <i class="icon" ng-class="fart.fartomic.quality == 5 ? 'ion-ios7-star' : 'ion-ios7-star-outline'"></i>
                    </div>
                </div>
                
                <div class="claimfart">
                <button class="button icon-left ion-android-hand">Claim this fart!</button>
                </div>
            </div>

            <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div> -->
        </div>
    </ion-content>
</ion-view>
